<%- include('partials/header') %>


    <%- include('partials/menu') %>



        <section class="container py-5 pt-xl-13 bg-body-emphasis">

            <div class="container-small px-lg-7 px-xxl-3">
                <div class="row text-center g-4 d-flex">
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <img src="/images/logo-1.png" class="img-fluid" alt="Logo 1" style="max-height: 100vh; ">
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <img src="/images/logo-1.png" class="img-fluid" alt="Logo 1" style="max-height: 100vh; ">
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <img src="/images/logo-1.png" class="img-fluid" alt="Logo 1" style="max-height: 100vh; ">
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <img src="/images/logo-1.png" class="img-fluid" alt="Logo 1" style="max-height: 100vh; ">
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <img src="/images/logo-1.png" class="img-fluid" alt="Logo 1" style="max-height: 100vh; ">
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <img src="/images/logo-1.png" class="img-fluid" alt="Logo 1" style="max-height: 100vh; ">
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <img src="/images/logo-1.png" class="img-fluid" alt="Logo 1" style="max-height: 100vh; ">
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <img src="/images/logo-1.png" class="img-fluid" alt="Logo 1" style="max-height: 100vh; ">
                    </div>

                </div>
            </div>
        </section>


        <%- include('partials/footer') %>